node_modules




if(level == 2 && textArray[1] == 1){
        //   response = `CON Enter Your Name`;
        //   return response;
        // }if(level == 3){
        //   response = `CON Enter the province you are from`;
        //   return response;
        // }if(level == 4){
        //   response = `CON Enter the invite code for the group you want to join`;
        //   return response;
        // }if(level == 3){
        //   // Find the group with the invite code
        //   let group = await Savings.findOne({ InviteCode: textArray[4]});
        //   if (!group) {
        //     response = "END Group not found. Please check the invite code and try again.";
        //     return response;
        //   }
          
      
        //   // Check if the user is already a member of the group
        //   const member = await Savings.findOneAndUpdate({MemberName:textArray[2],Province:textArray[3],InviteCode: textArray[5]}, {
        //     $push: { GroupMembers: {MemberName:textArray[2],Province:textArray[3],MemberPhoneNumber: textArray[4] } }
        //   }, { new: true });
        //   if (member) {
        //     response = "END You are already a member of this group.";
        //     return response;
        //   }
      
        
        //   // Join the group
        //   group.GroupMembers.push({MemberName:textArray[2],Province:textArray[3],MemberPhoneNumber: phoneNumber });
        //   await group.save();
        //   response = `END You have successfully joined the ${group.GroupName} group.`;
        // }
       

        // return response;